
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/cssAdmin")
    @Scripts.Render("~/bundles/modernizr")
      @using Nazirandco.Models;
    <!-- Bootstrap core CSS -->
    <link href="~/Content/cssAdmin/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/cssAdmin/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/jsAdmin/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Lineicons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="~/Content/cssAdmin/style.css" rel="stylesheet">
    <link href="~/Content/cssAdmin/style-responsive.css" rel="stylesheet">

    <script src="~/Content/jsAdmin/chart-master/Chart.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="adminIndex" class="logo"><b>Nazir and Comapanyy Pvt Limited</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="~/Home/signin">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
        <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="index.html"><img src="~/Content/imagesAdmin/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">@Session["adminName"]</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="adminIndex">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Managing Stock</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="addProduct">Add product</a></li>
                          <li><a  href="deleteProduct">Delete Product</a></li>
                          <li><a  href="updateProduct">Update Product</a></li>
                          <li><a  href="viewProduct">view Product</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Components</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="calendar.html">Calendar</a></li>
                          <li><a  href="gallery.html">Gallery</a></li>
                          <li><a  href="todo_list.html">Todo List</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Extra Pages</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html">Blank Page</a></li>
                          <li><a  href="login.html">Login</a></li>
                          <li><a  href="lock_screen.html">Lock Screen</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Forms</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="form_component.html">Form Components</a></li>
                      </ul>
                  </li>
                  
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      
    
      @RenderBody()
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
             Copyrights © 2016 <a href="http://www.nazirandco.org/areeba/"> Areeba Ilyas </a>
              <a href="adminIndex" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
       



   	
	
	

       @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
